<h1>Bienvenue a l'application stafmedic, <%= @user.name %></h1>
<p>
  Vous êtes inscrit avec succès à http://68.183.68.3,
  Votre nom d'utilisateur est: <%= @user.name %>. Votre mot de pass est: <%= @user.password %> <br>
</p>
<p>Merci de votre participation et bonne journée!</p>
