<div class="alert alert-danger alert-dismissible" >
  <button type="button" class="close" data-dismiss="alert">&times;</button>
<%= link_to activity.owner.name, activity.owner if activity.owner %>

<% if activity.trackable %>

  <%= link_to activity.trackable.name, activity.trackable %>
<% else %>
  à supprimer un patient
<% end %>
<%= activity.updated_at %>
</div>