<div class="card">
    <div class="card-body">
      <div class="card-header ">

        <h1 style="color: #17a2b8" align="center"> Modification de l'utilisateur <br> <%= @user.name%> </h1>
      </div>
      <div class="panel-body">
        <br>
        <%= link_to '', @user,class:"fas fa-tv fa-2x  btn-success btn-lg" %> 
        <%#= link_to '', users_path ,class:"fas fa-arrow-left fa-2x  btn-warning btn-lg"%>
        <hr>
         <%= render 'form', user: @user %>
     </div>
     <div>
</div>